{% extends 'base.html.twig' %}

{% block body %}
  <section class="hero is-warning">
    <div class="hero-body">
      <p class="title">Page not found!</p>

      <p class="subtitle">
          The requested page couldn't be located. Check for any URL
          misspelling or <a class="has-text-weight-bold has-text-primary" href="{{ path('default') }}">return to the homepage</a>.
      </p>
    </div>
  </section>
{% endblock %}
