{% extends 'base.html.twig' %}

{% block body %}
  <div class="column is-full">
    <div class="title">Basic case information</div>

    <figure class="image">
      <img src="{{ asset('images/Cases.PNG') }}" /> 
    </figure>
  </div>

  <div class="column is-full">
    <div class="title">Editing days</div>

    <figure class="image">
      <img src="{{ asset('images/Days.PNG') }}" />
    </figure>
  </div>
{% endblock %}
