<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        {% block stylesheets %}
            <link href="{{ asset('css/styles.css') }}" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
    <footer>
        {% block footer %}
            <a href="{{ path('logout') }}">Logout</a>
        {% endblock %}
    </footer>
</html>
