{% extends 'base.html.twig' %}

{% block body %}
	{% if case %}
		<div>You have a session in progress: {{ case.title }}</div>
	{% endif %}

	{{ form_start(form) }}
	{{ form_widget(form) }}
	{{ form_end(form) }}
{# TODO: move div.case into form so it displays before the submit button #}
	<div id="case"></div>
{# TODO: move updateCase() to scripts block #}
	<script>updateCase()</script>
{% endblock %}
