{# app/Resources/views/hotspot.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
	{% for spot in hotspots %}
		<li><a href="{{ path('update', { 'id': spot.id }) }}">{{ spot.name }}</li>
	{% endfor %}

	<a href="{{ path('order_tests') }}">Continue</a>
{% endblock %}
