{# app/Resources/views/hotspot.html.twig #}

<style>
li.true { background: yellow; }
</style>

{% for spot in hotspots %}
	<li><a href="{{ path('update', { 'id': spot.id }) }}">{{ spot.name }}</li>
{% endfor %}

<a href="{{ path('reset') }}">Reset</a>

{% for spot in checkedspots %}
	<li>{{ spot.name }}</li>
{% endfor %}
