{% macro steps(active) %}
  <div class="column is-full">
    <ul class="steps has-content-centered">
      <li class="steps-segment{% if active == "physical" %} is-active{% endif %}">
        <span class="steps-marker"></span>
        <div class="steps-content">
          <p>Physical Examination</p>
        </div>
      </li>

      <li class="steps-segment{% if active == "diagnostic" %} is-active{% endif %}">
        <span class="steps-marker"></span>
        <div class="steps-content">
          <p>Diagnostic Plan</p>
        </div>
      </li>

      <li class="steps-segment{% if active == "therapeutic" %} is-active{% endif %}">
        <span class="steps-marker"></span>
        <div class="steps-content">
          <p>Therapeutic Plan</p>
        </div>
      </li>
    </ul>
  </div>
{% endmacro %}

{% macro tag(text, class) %}
  <span class="tag {{ class }}" style="margin-right:8px">{{ text }}</span>
{% endmacro %}

{% macro instructions(class) %}
  <div class="column {{ class }}">
    <div class="tile box">
      <div class="content">
        <p>You can only work on one case at a time. Progress is saved after each step. Steps are linear, <b>you cannot go back to a previous step once you have moved on.</b></p>
        <p>Abandoning a case deletes all progress. You can abandon a case at any time <b>(but be careful, this can't be undone!)</b>.</p>
        <p>Choose a case study and a location to start.</p>
      </div>
    </div>
  </div>
{% endmacro %}
