{#
	Login template

	Blocks:
		- header
		- flashes
		- body

	Variables:
		- last_username: string
		- error: Symfony\Component\Security\Core\Exception\BadCredentialsException
#}

{% extends 'base.html.twig' %}

{% block header %}{% endblock %}

{% block flashes %}
	{% if error %}
		<div class="flash flash-error">Incorrect username or password</div>
	{% endif %}

	{{ parent() }}
{% endblock %}

{% block body %}
	<form action="{{ path('login') }}" method="post">
		<label class="label" for="username">Name:</label>
		<input class="input" type="text" id="username" name="_username" value="{{ last_username }}" required />

		<label class="label" for="password">Password:</label>
		<input class="input" type="password" id="password" name="_password" required />

		<button class="button" type="submit">Login</button>
	</form>

	<a href="{{ path('registration') }}">Register</a>
{% endblock %}
