{#
	Register template

	Blocks:
		- header
		- body
		- footer

	Variables:
		- form: Symfony\Component\Form\FormView
#}

{% extends 'base.html.twig' %}

{% block header %}{% endblock %}

{% block body %}
	{{ form_start(form) }}

	{{ form_widget(form) }}

	<button type="submit">Continue</button>

	{{ form_end(form) }}
{% endblock %}

{% block footer %}{% endblock %}
