<div class="modal-background"></div>
<div class="modal-card">
  <header class="modal-card-head">
    <div class="modal-card-title">
      Problems/differentials
      <p class="subtitle is-6">Submit an explanation below. To skip this step, click the close button.</p>
    </div>
    <button class="delete"></button>
  </header>
  <section class="modal-card-body">
    <div class="field">
      <label class="label">Explanation</label>
      <p class="control">
        <textarea id="differentials" class="textarea"></textarea>
      </p>
    </div>
  </section>
  <footer class="modal-card-foot">
    <a id="continue" class="button is-success">Submit</a>
  </footer>
</div>
