html, body {
	height: 100%;
}

div {
	position: relative;
}

em {
	font-style: italic;
}

a:link, a:visited {
	text-decoration: none;
	color: #444;
	transition: color .2s;
}

a:hover {
	text-decoration: underline;
	color: #00cc00;
}

#header {
	position: initial;
	overflow: hidden;
	background: #bbb;
}

#header ul li {
	float: left;
}

#header ul li.right {
	float: right;
}

#header ul li a {
	display: inline-block;
	padding: 14px 18px;
	color: black;
	text-align: center;
	text-decoration: none;
	transition: background .5s;
}

#header ul li a:hover, #header ul li .admin-menu a:hover {
	color: white;
	background: #00cc00;
}

#header ul li.admin-dropdown, #header ul li.admin-dropdown a {
	min-width: 160px;
}

#header ul li.admin-dropdown .admin-menu {
	display: none;
	position: absolute;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	transition: height .5s;
}

#header ul li.admin-dropdown:hover .admin-menu {
	display: block;
	z-index: 4;
}

#header ul li .admin-menu a {
	display: block;
	background: #eee;
}

#flashes .flash {
	margin: 8px;
	padding: 8px;
	width: 40%;
	font-weight: bold;
}

#flashes .flash-notice {
	background: #ddffdd;
	border-left: 6px solid #4caf50;
	border-radius: 4px 10px;
	box-shadow: 0px 0px 6px #4caf50;
}

#flashes .flash-error {
	background: #ffaaaa;
	border-left: 6px solid #ff3333;
	border-radius: 4px 10px;
	box-shadow: 0px 0px 6px #ff3333;
}

#body {
	clear: both;
	padding: 10px 4px;
}

#body select {
	padding: 6px 8px;
	border: solid 1px #bbb;
	border-radius: 4px;
}

#body input {
	padding: 6px;
	border: solid 1px #bbb;
	border-radius: 4px;
}

#body textarea {
	padding: 10px;
	width: 90%;
	height: 100px;
	border: solid 1px #bbb;
	border-radius: 3px;
	resize: none;
}

#body .button/*, #body button.remove-button*/ {
	display: inline-block;
	padding: 10px 18px;
	font: 13.3333px Arial;
	border: solid 1px #aaa;
	border-radius: 4px;
	cursor: pointer;
	color: black;
	background: buttonface;
	transition: background .5s, border .5s;
}

#body .button:hover {
	color: white;
	background: #aaa;
	text-decoration: none;
}

#body button#undo {
	display: none;
}

#body .right {
	float: right;
	margin-right: 4px;
}

/*#body button.remove-button:hover {
	background: red;
	border: solid 1px red;
}*/

#body button.remove-button {
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	background: none;
	font-size: 100%;
	cursor: pointer;
}

#body img#animal {
	width: auto;
	height: 600px;
}

#body #image ~ #hotspots {
	max-width: 350px;
}

div#diagnostics_test, div#therapeutics_medication {
	padding: 8px;
}

input.test, input.medication {
	display: none;
}

input.test + label, input.medication + label {
	display: inline-block;
	padding: 4px;
	width: 20%;
}

input.test + label::before, input.medication + label::before {
	content: '\2714';
	margin-right: 2px;
	color: rgba(0,0,0,0);
	border-bottom: solid 1px black;
}

input.test:checked + label::before, input.medication:checked + label::before {
	content: '\2714';
	color: black;
}

.result {
	padding: 8px;
	border: solid 1px #eee;
}

.location {
	border-bottom: none;
	border-radius: 8px 8px 0 0;
}

.diagnosis {
	border-top: none;
	border-bottom: none;
}

button.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  font-size: 1.5em;
	font-weight: bold;
  border: none;
  outline: none;
  transition: 0.4s;
}

button.accordion:first-child {
	border-radius: 8px 8px 0 0;
}

button.accordion:last-child {
	border-radius: 0 0 8px 8px;
}

button.accordion.active {
	background-color: #cfcfcf;
}

button.accordion::after {
	content: '\02795';
	float: right;
	margin-left: 5px;
}

button.accordion.active::after {
	content: '\2796';
}

div.panel {
	padding: 18px;
	display:none;
	max-height: 20%;
	border: solid 1px #cfcfcf;
	border-top: none;
	overflow: auto;
}

.panel #hotspots::before {
	content: 'Evaluation';
}

.panel #testResults::before {
	content: 'Diagnostic';
}

.panel #medicationResults::before {
	content: 'Therapeutic';
}

.panel #hotspots::before, .panel #testResults::before, .panel #medicationResults::before {
	font-size: 1.25em;
}

.panel #hotspots, .panel #testResults, .panel #medicationResults {
	padding: 8px;
}

.panel li {
	padding: 8px 20px;
	list-style: none;
}
