@import "bulma/sass/utilities/initial-variables"

$blue: #244b7e
$primary: $blue

@import "bulma/sass/base/_all"
@import "bulma/sass/elements/_all"
@import "bulma/sass/components/_all"

$navbar-background-color: $primary
$navbar-item-hover-background-color: #3c6491

@import "bulma/bulma"

.image
  &.is-hotspots
    height: auto
    min-width: 900px
    max-width: 900px

    img
      height: 100%
