@import "bulma/sass/utilities/initial-variables"

$blue: #244b7e
$primary: $blue

@import "bulma/sass/components/navbar"

$navbar-background-color: $primary

@import "bulma/bulma"

.image
  &.is-hotspots
    height: auto
    min-width: 900px
    max-width: 900px

    img
      height: 100%
